/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26.8.2015, 22:07:57
    Author     : tomas.gura
*/
body {
  background-color: #F69200 !important;
}
.nav {
  margin-bottom: 10px;
}
.nav + p {
  margin-top: 25px;
}
.nav > li {
  background-color: #772801;
}
.nav > li > a {
  color: white;
}
.nav > li > a:hover {
  background-color: #aa3901;
}
.nav > li.active > a {
  background-color: #fed37c;
}
.content {
  max-width: 800px;
  margin: 0 auto;
}
.content p {
  font-size: 18px;
}
.header {
  height: 50px;
  position: relative;
  height: 80px;
  background-image: url("../img/med_stru_final.jpg");
}
.header h1 {
  float: left;
  font-weight: bold;
  color: #772801;
  margin-left: 1em;
}
.header img {
  float: right;
  position: relative;
  top: 0px;
}
.vlevo {
  float: left;
}
.vpravo {
  float: right;
}
.obj_pic {
  margin-top: 25px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-md-6 {
  padding-left: 0px;
}
.center {
  margin: 0 auto;
}
.disp_block {
  display: block;
}
.frm_label {
  margin-top: 5px;
  margin-bottom: 0px;
}
#frm_tel,
#frm_email,
#frm_text {
  width: 370px;
}
fieldset select,
fieldset input {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 2px;
  width: 170px;
}
fieldset input {
  width: 80px;
}
.pridej_polozku {
  background-color: #772801;
  color: white;
  padding: 5px;
  cursor: pointer;
}
